.mainHeader{
    display: grid;
    grid-template-columns: 1fr 1fr 10rem;    
    padding: 3rem;    
    position: fixed;    
    width: 100%;
    backdrop-filter: blur(10px);          
    z-index: 100;
}

.title{
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    font-size: 1.2rem;            
}

.job{
    font-size: 0.8rem;
    color: yellow;
    font-family: monospace;
}

.items{
    list-style: none;    
    display: flex;
    align-items: center;
    gap: 1rem;
    font-size: 1.2rem;
    font-weight: 500;
}