.goalsSection{
    padding: 2rem 0;
    display: flex;        
    width: 100%;    
    align-items: center;
    flex-direction: column;
    gap: 2rem;
}

.goals{
    display: flex;
    gap: 2rem;    
}

.separator{
    background: white;
    height: 0.1rem;
}

.title{
    width: 100%;
    display: grid;        
    grid-template-columns: 1fr fit-content(100%) 1fr;
    gap: 2rem;
    padding: 0 2rem;
    align-items: center;
}

.title h1{
    display: flex;
    justify-content: center;    
    font-weight: 300;
}